html {
	background-image: url('background-tiling.jpg');
}

div {
}

.maintext {
	font-family: "Comic Sans MS";
	font-size: 24px;

	width: 20%;
	border: 15px solid rgba(200,200,200,0.3);
	border-radius: 20px;

	background-color: rgba(50,100,50,0.5);

	text-align: center;
	display: grid;
	margin: auto;
}

p {
	font-weight: bold;
	color: black;
	width: 300px;
	/* background-color: grey; */
}

h1 {
	font-weight: bold;
	color: green;
}

form {
	font-weight: italic;
	color: #ccffcc;
}

a {
	color: #005500;
}

input:focus {
	background-color: grey;
}
