<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width-device-width, initial-scale=1.0">
		<title>NutriTrack</title>
		<link rel="stylesheet" href="style.css">
	</head>
	<div class="maintext">
		<body>
			<h1>User page for {{username}}</h1>
			{% for item in data %}
			<p>{{item}}: {{data[item]}}</p>
			{% endfor %}
			<h2>Update information</h2>
			<form action="/updateinfo" method="post">
				{% for key in data %}
				<label for="{{key}}">{{key}}:</label>
				<input type="text" id="{{key}}" name="{{key}}" placeholder={{data[key]}}><br>
				{% endfor %}
				<br><label for="newentry">new entry: </label>
				<input type="text" id="newentryname" name="newentryname" placeholder="entry name">
				<input type="text" id="newentrydata" name="newentrydata" placeholder="entry value (optional)"><br>
				<br><label for="password">password: </label>
				<input type="password" id="password" name="password" placeholder="password" required><br>
				<input type="submit" value="Update information">
			</form>
		</body>
		<a href="/">Log out</a><br>
		<a href="/deleteaccount">Delete account</a>
	</div>
</html>
